@use "./base.scss";

// put your custom CSS here!
body {
  letter-spacing: 0.01em;
}

.center article {
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.02em;
}

blockquote {
  background-color: color-mix(in srgb, var(--secondary) 4%, var(--light));
}
